
{{ if children.size != 0 }}
<ul>
    {{ for item in children  }}
        {{ if item.uri_path == model.menu_item.uri_path }}
            <li class="selected">
        {{ else }}
            <li>
        {{ end }}
            {{  if item.uri_path }}
                <a href="{{ item.uri_path }}">
                    {{ item.title }}
                </a>
            {{ else }}
                {{ item.title }}
            {{ end }}
            
            {{ 
                context = {children:item.children}
                with  context
                    include "Menu"
                end
            }}
        </li>
    {{end}}
</ul>
{{end}}